In [3]:
import numpy  as np
import pandas as pd

## Carga de datos

In [4]:
train = pd.read_csv('train_set.csv')

In [5]:
train.head()

,ID,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,customer_city,customer_state,customer_zip_code_prefix,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,target
0,0,delivered,39.90,15.38,1.0,1.0,2018-08-08 13:03:52.000000,2018-08-08 13:15:22.255565,2018-08-15 00:00:00.000000,2018-08-13 22:11:44.366805,Sao Paulo,SP,44.0,consoles_games,59.0,434.0,3.0,5
1,1,delivered,279.99,31.82,NaN,1.0,2018-04-30 20:24:33.000000,2018-05-01 03:15:02.640177,2018-05-15 00:00:00.000000,2018-05-09 19:50:37.813505,Sao Paulo,SP,51.0,housewares,35.0,1800.0,1.0,3
2,2,delivered,144.90,16.77,1.0,1.0,2017-08-01 09:49:05.000000,2017-08-02 02:55:58.162450,2017-08-23 00:00:00.000000,2017-08-11 19:04:16.644822,NaN,PR,842.0,health_beauty,63.0,580.0,5.0,5
3,3,delivered,170.00,16.82,1.0,1.0,2017-11-29 11:47:31.000000,2017-11-29 11:57:31.647096,2017-12-20 00:00:00.000000,2017-12-08 16:31:45.044090,Santa Gertrudes,SP,135.0,watches_gifts,35.0,514.0,2.0,5
4,4,delivered,40.90,14.10,1.0,1.0,2017-10-23 14:32:55.000000,2017-10-23 14:49:10.354927,2017-11-09 00:00:00.000000,2017-11-07 21:12:19.296363,Sao Paulo,SP,40.0,health_beauty,31.0,2392.0,2.0,5

In [9]:
train.groupby('target').count()

,ID,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,customer_city,customer_state,customer_zip_code_prefix,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty
target,,,,,,,,,,,,,,,,,
1,6584,6251,6276,6295,6261,6269,6268,6245,6283,5363,6318,6265,6244,6272,6279,6264,6279
2,1892,1789,1783,1802,1799,1808,1805,1793,1816,1720,1808,1799,1789,1811,1805,1806,1800
3,4802,4570,4581,4556,4562,4573,4567,4557,4573,4453,4596,4601,4546,4562,4572,4564,4549
4,10655,10134,10124,10153,10121,10145,10153,10135,10132,10046,10096,10143,10146,10151,10162,10153,10144
5,31267,29737,29736,29702,29693,29787,29773,29750,29685,29616,29737,29744,29715,29805,29690,29706,29705

## Descriptivo

In [91]:
columns = train.columns

In [34]:
train = pd.DataFrame(train)

In [71]:
train.pivot_table('ID','target','order_status',aggfunc=np.count_nonzero)

order_status  canceled  delivered  invoiced  processing  shipped  unavailable
target
1                198.0     5359.0     121.0       178.0    390.0          5.0
2                 15.0     1718.0       6.0         7.0     43.0          NaN
3                 17.0     4454.0      17.0         9.0     73.0          NaN
4                  7.0    10062.0       9.0         1.0     55.0          NaN
5                 21.0    29616.0      16.0         7.0     76.0          NaN

In [72]:
train.groupby('target').describe()

             ID                                                       \
          count          mean           std   min       25%      50%
target
1        6584.0  27264.714611  15740.764206   8.0  13942.75  27075.5
2        1892.0  27615.680761  15748.392783  37.0  14180.75  27668.5
3        4802.0  27535.063099  16091.671738   1.0  13686.50  27410.5
4       10655.0  27569.071516  15892.456170  11.0  13757.50  27473.0
5       31267.0  27689.283302  15977.129208   0.0  13776.50  27760.0

                          order_products_value              ...  \
             75%      max                count        mean  ...
target                                                      ...
1       40503.50  55198.0               6276.0  146.927819  ...
2       40876.75  55182.0               1783.0  129.583797  ...
3       41671.00  55192.0               4581.0  120.415355  ...
4       41310.00  55199.0              10124.0  127.404472  ...
5       41584.50  55197.0              29736.0  128.290388  ...

       product_description_lenght         product_photos_qty            \
                              75%     max              count      mean
target
1                          956.00  3992.0             6279.0  2.193343
2                          908.75  3859.0             1800.0  2.157222
3                          964.00  3979.0             4549.0  2.282040
4                          969.00  3949.0            10144.0  2.304614
5                         1001.00  3992.0            29705.0  2.296011


             std  min  25%  50%  75%   max
target
1       1.687769  1.0  1.0  2.0  3.0  17.0
2       1.712607  1.0  1.0  1.0  3.0  17.0
3       1.711821  1.0  1.0  2.0  3.0  13.0
4       1.752247  1.0  1.0  2.0  3.0  17.0
5       1.753552  1.0  1.0  2.0  3.0  17.0

[5 rows x 72 columns]

In [89]:
train['fecha_deliveried_estdelivery']  =  (pd.to_datetime(train['order_delivered_customer_date']) - pd.to_datetime(train['order_estimated_delivery_date'])).dt.days
train['fecha_deliveried_orderaproved']  =  (pd.to_datetime(train['order_delivered_customer_date']) - pd.to_datetime(train['order_aproved_at'])).dt.days
train['fecha_deliveried_purchased']  =  (pd.to_datetime(train['order_delivered_customer_date']) - pd.to_datetime(train['order_purchase_timestamp'])).dt.days

In [90]:
train

,ID,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,...,customer_state,customer_zip_code_prefix,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty,target,fecha_deliveried_estdelivery,fecha_deliveried_orderaproved,fecha_deliveried_purchased
0,0,delivered,39.90,15.38,1.0,1.0,2018-08-08 13:03:52.000000,2018-08-08 13:15:22.255565,2018-08-15 00:00:00.000000,2018-08-13 22:11:44.366805,...,SP,44.0,consoles_games,59.0,434.0,3.0,5,-2.0,5.0,5.0
1,1,delivered,279.99,31.82,NaN,1.0,2018-04-30 20:24:33.000000,2018-05-01 03:15:02.640177,2018-05-15 00:00:00.000000,2018-05-09 19:50:37.813505,...,SP,51.0,housewares,35.0,1800.0,1.0,3,-6.0,8.0,8.0
2,2,delivered,144.90,16.77,1.0,1.0,2017-08-01 09:49:05.000000,2017-08-02 02:55:58.162450,2017-08-23 00:00:00.000000,2017-08-11 19:04:16.644822,...,PR,842.0,health_beauty,63.0,580.0,5.0,5,-12.0,9.0,10.0
3,3,delivered,170.00,16.82,1.0,1.0,2017-11-29 11:47:31.000000,2017-11-29 11:57:31.647096,2017-12-20 00:00:00.000000,2017-12-08 16:31:45.044090,...,SP,135.0,watches_gifts,35.0,514.0,2.0,5,-12.0,9.0,9.0
4,4,delivered,40.90,14.10,1.0,1.0,2017-10-23 14:32:55.000000,2017-10-23 14:49:10.354927,2017-11-09 00:00:00.000000,2017-11-07 21:12:19.296363,...,SP,40.0,health_beauty,31.0,2392.0,2.0,5,-2.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55195,55195,delivered,49.00,13.71,1.0,1.0,2018-04-27 16:17:04.000000,2018-04-27 17:11:52.642510,2018-05-18 00:00:00.000000,2018-05-08 13:51:57.886946,...,SP,48.0,toys,54.0,77.0,2.0,5,-10.0,10.0,10.0
55196,55196,delivered,62.80,34.24,NaN,1.0,2017-11-02 22:41:18.000000,2017-11-03 00:35:49.562322,2017-12-01 00:00:00.000000,2017-11-24 21:16:58.154968,...,PB,584.0,market_place,55.0,1626.0,1.0,5,-7.0,21.0,21.0
55197,55197,delivered,24.90,7.43,1.0,1.0,2018-07-23 18:33:22.000000,NaN,2018-08-01 00:00:00.000000,2018-07-25 21:16:34.511924,...,SP,74.0,bed_bath_table,57.0,74.0,1.0,5,-7.0,NaN,2.0
55198,55198,delivered,39.99,12.79,1.0,1.0,2018-04-21 11:47:23.000000,2018-04-24 19:20:57.531537,2018-05-16 00:00:00.000000,2018-04-30 15:06:52.305277,...,SP,190.0,health_beauty,NaN,216.0,1.0,1,-16.0,5.0,9.0
55199,55199,delivered,189.00,28.68,1.0,1.0,2017-12-03 08:29:37.000000,2017-12-03 08:52:33.274170,2018-01-04 00:00:00.000000,2017-12-27 17:07:57.843189,...,NaN,326.0,furniture_decor,51.0,1954.0,3.0,4,-8.0,24.0,24.0

In [92]:
columns

Index(['ID', 'order_status', 'order_products_value', 'order_freight_value',
       'order_items_qty', 'order_sellers_qty', 'order_purchase_timestamp',
       'order_aproved_at', 'order_estimated_delivery_date',
       'order_delivered_customer_date', 'customer_city', 'customer_state',
       'customer_zip_code_prefix', 'product_category_name_english',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'target', 'fecha_deliveried_estdelivery',
       'fecha_deliveried_orderaproved', 'fecha_deliveried_purchased'],
      dtype='object')

In [137]:
date_columns = ['order_delivered_customer_date','order_estimated_delivery_date','order_aproved_at','order_purchase_timestamp']
cities_columns = ['customer_city']
product_name = ['product_category_name_english']

In [141]:
columns_f=[]
for c in columns : 
    if c not in date_columns and c not in cities_columns and c not in product_name: 
            columns_f.append(c)

In [142]:
columns_f

['ID',
 'order_status',
 'order_products_value',
 'order_freight_value',
 'order_items_qty',
 'order_sellers_qty',
 'customer_state',
 'customer_zip_code_prefix',
 'product_name_lenght',
 'product_description_lenght',
 'product_photos_qty',
 'target',
 'fecha_deliveried_estdelivery',
 'fecha_deliveried_orderaproved',
 'fecha_deliveried_purchased']

In [143]:
train_f = pd.get_dummies(train[columns_f])

In [144]:
train_f.head()

,ID,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,customer_zip_code_prefix,product_name_lenght,product_description_lenght,product_photos_qty,target,...,customer_state_PR,customer_state_RJ,customer_state_RN,customer_state_RO,customer_state_RR,customer_state_RS,customer_state_SC,customer_state_SE,customer_state_SP,customer_state_TO
0,0,39.90,15.38,1.0,1.0,44.0,59.0,434.0,3.0,5,...,0,0,0,0,0,0,0,0,1,0
1,1,279.99,31.82,NaN,1.0,51.0,35.0,1800.0,1.0,3,...,0,0,0,0,0,0,0,0,1,0
2,2,144.90,16.77,1.0,1.0,842.0,63.0,580.0,5.0,5,...,1,0,0,0,0,0,0,0,0,0
3,3,170.00,16.82,1.0,1.0,135.0,35.0,514.0,2.0,5,...,0,0,0,0,0,0,0,0,1,0
4,4,40.90,14.10,1.0,1.0,40.0,31.0,2392.0,2.0,5,...,0,0,0,0,0,0,0,0,1,0

In [145]:
train_f.columns[:100]

Index(['ID', 'order_products_value', 'order_freight_value', 'order_items_qty',
       'order_sellers_qty', 'customer_zip_code_prefix', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'target',
       'fecha_deliveried_estdelivery', 'fecha_deliveried_orderaproved',
       'fecha_deliveried_purchased', 'order_status_canceled',
       'order_status_delivered', 'order_status_invoiced',
       'order_status_processing', 'order_status_shipped',
       'order_status_unavailable', 'customer_state_AC', 'customer_state_AL',
       'customer_state_AM', 'customer_state_AP', 'customer_state_BA',
       'customer_state_CE', 'customer_state_DF', 'customer_state_ES',
       'customer_state_GO', 'customer_state_MA', 'customer_state_MG',
       'customer_state_MS', 'customer_state_MT', 'customer_state_PA',
       'customer_state_PB', 'customer_state_PE', 'customer_state_PI',
       'customer_state_PR', 'customer_state_RJ', 'customer_state_RN',
       'customer_state_RO', 'customer_state_RR', 'customer_state_RS',
       'customer_state_SC', 'customer_state_SE', 'customer_state_SP',
       'customer_state_TO'],
      dtype='object')

## Entrenando

In [146]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [147]:
sc = StandardScaler()
Xs = sc.fit_transform(train_f)

## Aplicando al test

In [11]:
test = pd.read_csv('test_set.csv')
test.head()

,ID,order_status,order_products_value,order_freight_value,order_items_qty,order_sellers_qty,order_purchase_timestamp,order_aproved_at,order_estimated_delivery_date,order_delivered_customer_date,customer_city,customer_state,customer_zip_code_prefix,product_category_name_english,product_name_lenght,product_description_lenght,product_photos_qty
0,0,delivered,30.00,28.20,2.0,1.0,2017-06-22 20:28:16.000000,2017-06-22 20:42:51.013492,2017-07-14 00:00:00.000000,2017-09-19 15:17:37.767855,NaN,SP,48.0,health_beauty,17.0,547.0,1.0
1,1,delivered,89.90,12.33,1.0,1.0,NaN,2017-11-20 23:34:44.641435,2017-12-01 00:00:00.000000,2017-11-23 14:41:51.640086,Caieiras,SP,NaN,bed_bath_table,58.0,188.0,1.0
2,2,delivered,890.00,86.71,1.0,1.0,2018-02-12 12:31:32.000000,2018-02-15 03:55:50.384756,2018-03-09 00:00:00.000000,2018-02-27 15:19:06.698500,Sao Caetano do Sul,SP,95.0,health_beauty,57.0,537.0,1.0
3,3,delivered,85.00,17.84,1.0,NaN,2017-07-24 05:21:16.000000,NaN,2017-08-15 00:00:00.000000,2017-07-31 19:42:27.819239,Curitiba,PR,813.0,stationery,56.0,303.0,3.0
4,4,delivered,168.98,25.31,1.0,1.0,2018-03-29 22:20:33.000000,2018-03-29 22:30:18.256631,NaN,2018-05-15 15:05:44.342452,Aracaju,SE,490.0,bed_bath_table,60.0,496.0,2.0

In [16]:
test.count()

ID                               13800
order_status                     13158
order_products_value             13112
order_freight_value              13094
order_items_qty                  13097
order_sellers_qty                13190
order_purchase_timestamp         13150
order_aproved_at                 13122
order_estimated_delivery_date    13131
order_delivered_customer_date    12803
customer_city                    13123
customer_state                   13150
customer_zip_code_prefix         13087
product_category_name_english    13149
product_name_lenght              13074
product_description_lenght       13117
product_photos_qty               13138
dtype: int64

In [17]:
dumb = pd.read_csv('dumb_submission.csv')
dumb.count()

ID        13800
target    13800
dtype: int64